sudo: false
language: python
python:
  - "2.7"
  - "3.0"
  - "3.1"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
install: pip install Markdown docutils textile
script: python -m unittest discover -s tests -v
